[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]
pylint = "*"
notebook = "*"

[packages]
tsplib95 = "*"
numpy = "*"
sklearn = "*"
python-mnist = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"

[requires]
python_version = "3.8"
