[[source]]
name = "pypi"
url = "https://pypi.douban.com/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
notebook = "*"

[packages]
tsplib95 = "*"
numpy = "*"

[requires]
python_version = "3.8"
